<div class="container">
    <div class="span12" style='text-align:justify'>
        <h2>It's Your Very Own Smart Internet</h2>
        <p class="MsoBodyText">
            Discloze lets you build your own Smart Internet, this is easily done with life lists that explain who you are, what you like, and how you live. Your life lists let the Smart Internet work harder to help you find things, solve problems, and get things done. The Smart Internet is a wonderful way to find deals and discounts, and it's a great way to get suggestions and special offers. Your Smart Internet sites and apps are always just the ones you need, these can do lots of new things in new ways, and they can easily work together as teams.
        </p>
        <h2>Share Your Life Lists On The Smart Internet</h2>
        <p class="MsoBodyText">
            Discloze 
            provides hundreds of different life list choices, these are rated lists of all the interesting and important things in your life, and they're your unique lists for your unique life. The Smart Internet can use your colors list to suggest great outfits, it can use your authors list to suggest great new reads, and it can use your teams list to feed you the sports scores you've got to know.
        </p>
        <h2>You're Always In Total Control Of Your Life Lists</h2>
        <p class="MsoBodyText">Discloze always gives you complete control of your life lists. You can choose any set of life lists to suit yourself, and you can list anything that needs listing. You alone decide how and when to share your public lists with Smart Internet websites and apps, you can also share your protected lists with Facebook friends, but your private lists are strictly for you. Your Smart Internet sites and apps can help you update your public lists, you can email any list or tweet any list item with the push of a button.</p>
        <h2>Get Smart Personalized Offers and Invites</h2>
        <p class="MsoBodyText">
            Discloze make it easy to manage your Smart Offers and Smart Invitations. Some Smart Internet sites and apps will send you special Smart Offers, these offers are strictly limited by you, they're offers tailored to your life, and many will be exclusively for you. Some 
            Smart Internet sites and apps will send you Smart Invitations, these are personalized signup invitations, and it&#39;s easy to find many more signup choices by browsing the Smart Internet site and app catalogs.
        </p>
        <h2>Get Smarter About Yourself and Others</h2>
        <p class="MsoBodyText">
            Discloze life lists are a great tool for learning about yourself; they're a tool for taking stock of your life, understanding who you are, and where your life is going. The best friendships are based on sharing, that's why life list sharing is a great way to strengthen old friendships and build new ones. Your Facebook friends can learn all about you through your public and protected life lists, and you can choose to make your public life lists visible to everyone on Facebook.
        </p>

    </div>
</div>