<div class="container">
	<div class="hero-unit" >
		<h1>Welcome To Discloze</h1>
		<p >Disclose is a demonstration site built with Rails 4, Angular, and Bootstrap JS. It's a second generation social site that lets everyone selectively share life lists with both people and programs.</p>
		<p>Some technical highlights include authentication using the Stormpath service, a token authenticated partner API, hybrid Rails/Javascipt processing of form/list pages, and an JQuery UI mobile app interface. This app is deployed on Heroku from a continuous Codeship build. It's monitored by New Relic plus Googe Analytics, and it's tested with RSpec, Cucumber, Capybara, and Poltergeist.</p>
		<p><a href="#" class="btn btn-primary btn-large">Log In wth Facebook &raquo;</a></p>
	</div>
</div>