<style type="text/css">
.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 800px; 
  height: 500px;
}
</style>
<script>
  window.theListValues = JSON.parse('<%= raw @values %>');
  window.theListValues.fat = '<%= form_authenticity_token %>';
  //console.log(JSON.stringify(window.theListValues));
</script>

<div class="well" ng-controller='ListController' ng-cloak id='listwell'>
  <div>
    <h1 style='display:inline-block;'>{{values.header}}
     <input id='btnView' type='button' value='View Selected' ng-click='view()' 
      ng-show='!!theData[0].html' ng-disabled='!mySelections[0].id' class='btn btn-warning'
      style='display:inline-block;'>
     <input id='btnDelete' type='button' value='Delete Selected' ng-click='delete()' 
      ng-show='deleting' ng-disabled='!mySelections[0].id' class='btn btn-danger' 
      style='display:inline-block;'>
     <input id='btnEdit' type='button' value='Edit Selected' ng-click='edit()' ng-show='editing' 
       ng-disabled='!mySelections[0].id'class='btn btn-info' style='display:inline-block;'>
     <input id='btnCreate' type='button' value='Create Selected' ng-click='create()' ng-show='creating' 
       ng-disabled='!mySelections[0].id'class='btn btn-info' style='display:inline-block;'>
    </h1>
  </div>
  <div class="gridStyle" ng-grid="gridOptions"></div>
  <div class='form-inline'>
    <div style='margin-top:8px'>
      <pagination total-items="totalItems" page="currentPage" items-per-page="maxSize" 
      class="pagination-small" boundary-links="true" rotate="false" 
      style='display:inline-block;margin:0px;padding:0px;vertical-align:middle'>
      ></pagination>
         <select ng-model='maxSize' 
         style='display:inline-block;margin:0px;padding:0px;height:28px;width:80px;font-size:12px;vertical-align:middle'>
            <option>5</option>
            <option selected>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
    </div>
  </div>
  <div id="emailModal" class="modal hide fade" tabindex="-1" role="dialog" 
    aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3>About {{ mySelections[0].headline || mySelections[0].name || mySelections[0].list || mySelections[0].app_name || mySelections[0].site_name}}
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </h3>
    </div>
    <div class="modal-body" id='htmlContent'>
    </div>
  </div>
   <div id="alertModal" class="modal hide fade" tabindex="-1" role="dialog"
      data-keyboard="false" data-backdrop="static"aria-labelledby="alertlModalLabel" 
      aria-hidden="true">
    <div class="modal-header">
      <h3>{{ alertMessage }}
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </h3>
    </div>
  </div> 
</div>